/*ESTILOS DE LA SECCION DE EVENTOS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*CAJA PRINCIPAL DE LA SECCION INFO*/

.ev__main {
    background-color: var(--color-negro);
    width: 100%;
    /*height: 100vh;*/
    
}

.info {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),url(/noctivago-tp1/img_eventos/portada-eventos.jpg);
    background-size: cover;
    background-position: center;


}

.info__aboutOf {
    width: 80%;
    height: 100%;
    text-align: center;
    font-family: var(--tipografia);
    margin-top: 50px;
    color: var(--color-blanco);
}

.info__aboutOf > h1 {
    font-size: 60px;
    margin-bottom: 20px;
    display: inline-block;
}

/*CAJA PRINCIPAL DE LA SECCION EVENTOS*/
.events {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3)), url(/noctivago-tp1/img_eventos/gradient-2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    /*margin: 30px 0px 30px 0px;*/
}

.events > h2 {
    display: block;
    margin: auto;
    color: #fff;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: var(--tipografia);
}


/*CAJA QUE CONTIENE A TODAS LAS TARJETAS*/
.event__cards {
    width: 80%;
    height: auto;
    background-color: var(--color-negro-op);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}

/*TARJETA*/
.card {
    position: relative;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    justify-content: center;
   overflow: hidden;
   border-radius: 20px;
   transition: border 0.1s ease;
   margin: 20px 10px 20px 10px;
}


.card:hover {
    border: 1px solid var(--color-purpura);
}

.card__pt1, img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    filter: blur(0px);
    opacity: 1;
    transition: filter 0.3s ease;
}

.card:hover .card__pt1 img {
    filter: blur(5px);
    opacity: 0.8;

}

.card__pt2 {
    position: absolute;/*
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    background-color: var(--color-negro-opMid);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid var(--color-purpura);border-radius: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3 ease;
}


.card:hover .card__pt2 {
    opacity: 1;
}

.card__info {
    /*margin-top: 40%;*/
    font-variant:normal;
    color: var(--color-blanco);
    display: block;
    margin: auto;
    font-family: var(--tipografia);
    font-weight: 100;
    font-size: 12px;
}

.card__info > ul {
    list-style: none;
}

.card__info ul > li {
    margin-bottom: 5px;
}

.card__access {
    /*
    position: absolute;
    top: 80%;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 60px;
    background-color: var(--color-purpura);
}

.card__access button {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card__access button {
    color: var(--color-azul-oscuro);
}

.card__access button:hover {
    color: #fff;
}
