@font-face {
    font-family: caveat;
    src: url(../fonts/static/Caveat-Bold.ttf) format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: dancing;
    src: url(../fonts/static/DancingScript-Bold.ttf) format("truetype");
    font-weight: 600;

} /*solo use la dancing al final*/
@font-face {
    font-family: eduarrow;
    src: url(../fonts/static/EduAUVICWANTArrows-Bold.ttf) format("truetype");
    font-weight: 600;

}
@font-face {
    font-family: gotic;
    src: url(../fonts/static/GrenzeGotisch-Bold.ttf) format("truetype");
    font-weight: 600;

}

@font-face {
    font-family: 'gothic'; 
    src: url('/noctivago-tp1/fonts/Special_Gothic/SpecialGothic-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto'; 
    src: url('/noctivago-tp1/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  }
