    <link rel="stylesheet" href="/css/header.css">
    <header>
        <div class="contenedor-header">
            <div class="logo">
                <img src="../img/clinica_logo.png" alt="Logo de la aplicacioÌn">
                <h1>CLINICA SALUD +</h1>
            </div>
        
            
       
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/turnos">Turnos</a></li>
            </ul>
        </nav>
        </div>
    </header>
