<%- include('partials/head') -%>
<body>
    <%- include('partials/header') -%>

    <main>
        <h2> <%= message %></h2>
        <div class="imagen-principal">
            <img src="img/imagen-principal.jpg" alt="Imagen principal">
        </div>
        <article class="info_clinica">
            <div class="info_clinica_texto">
                <h2>Información de la Clínica</h2>
                <p>Estamos ubicados en la Av. San Martín 1234, San Martín, Buenos Aires. Ofrecemos servicios de salud y atención médica de calidad.</p>

        </article>
    </main>
    
 

    <%# Esto es un comentario (no se renderiza en el HTML) %>
    
    <footer>
        <p>© <%= new Date().getFullYear() %> Clinica Salud +</p>
    </footer>
</body>
</html>