    <header>
        <div class="titulo">
            <div class="logo">
                <img src="img/logo.png" alt="Logo de la aplicacioÌn">
            </div>
            <div class="posicion_titulo">
                <h1>CLINICA SALUD +</h1>
            </div>
            
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/turnos">Turnos</a></li>
            </ul>
        </nav>
    </header>